:root{
    --mainFont:"Open Sans", sans-serif;
    --primaryColor:#ff206e
}

body{
    font-family: var(--mainFont);
}
.primary__color{
    color: var(--primaryColor);
}
.main__font{
    font-family: var(--mainFont);
}
.navbar .nav-link{
    color: #fff;
    font-size: .875rem;
}
.navbar .navbar-nav .nav-link.active, .navbar .navbar-nav .nav-link.show {
    color: var(--primaryColor);
}
.hero{
    background-image:url(./../img/hero/bg.jpg);
    background-size: cover;
    background-position: center -50px;
}
.about{
    background-image: url(./../img/public/light_dot.jpg);
}


